# Django
*.pyc
__pycache__/
db.sqlite3
local_settings.py
*.log

# Media
media/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
staticfiles/

# Environment
.env
.env.production

# OS
.DS_Store
Thumbs.db
